In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import datetime
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objs as go

In [10]:
ds_2=pd.read_excel('3401055004_OTSP_CountryofCitizenship_Jun21.xlsx', sheet_name='Table 1.2', header=[7])
ds_2

,SACC code(a),Country of citizenship(a),2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
0,1101,Australia,866140.0,701180.0,655800.0,956990.0,732790.0,540330.0,665680.0,809460.0,...,11740.0,11860.0,10950.0,12090.0,12610.0,9270.0,9890.0,23990.0,41350.0,40140.0
1,1102,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1199,Australian External Territories nec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1201,New Zealand,155740.0,186450.0,150930.0,179880.0,164000.0,122510.0,143840.0,163170.0,...,3410.0,3330.0,3400.0,3990.0,3440.0,3220.0,3250.0,23900.0,48540.0,39670.0
4,1301,New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,(a) Country of citizenship classification and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Standard Australian Classification of Countrie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,"(b) To confidentialise, estimates have been ro...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Â© Commonwealth of Australia 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
ds_2=ds_2.drop(ds_2.index[[250,251,252,253,254,255,256,257]])
ds_2

,SACC code(a),Country of citizenship(a),2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
0,1101,Australia,866140.0,701180.0,655800.0,956990.0,732790.0,540330.0,665680.0,809460.0,...,11740.0,11860.0,10950.0,12090.0,12610.0,9270.0,9890.0,23990.0,41350.0,40140.0
1,1102,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1199,Australian External Territories nec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1201,New Zealand,155740.0,186450.0,150930.0,179880.0,164000.0,122510.0,143840.0,163170.0,...,3410.0,3330.0,3400.0,3990.0,3440.0,3220.0,3250.0,23900.0,48540.0,39670.0
4,1301,New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,9228,Uganda,80.0,70.0,70.0,150.0,70.0,30.0,50.0,60.0,...,0.0,10.0,10.0,20.0,0.0,10.0,0.0,10.0,10.0,0.0
246,9231,Zambia,110.0,80.0,110.0,160.0,110.0,100.0,110.0,80.0,...,20.0,10.0,20.0,20.0,0.0,10.0,0.0,0.0,0.0,0.0
247,9232,Zimbabwe,420.0,370.0,510.0,830.0,610.0,370.0,360.0,530.0,...,50.0,50.0,70.0,60.0,30.0,20.0,20.0,20.0,10.0,20.0
248,9299,"S & E Afr, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,0000,Inadequately Described,1340.0,4440.0,1750.0,650.0,240.0,470.0,1190.0,1440.0,...,270.0,1050.0,100.0,420.0,120.0,100.0,90.0,290.0,130.0,200.0

In [ ]:
profile = ProfileReport(ds_1,title="Pandas Profiling Report")
profile

In [ ]:
profile.to_file("C:\\Users\\Moditha\\Desktop\\your_report.html")

In [15]:
ds_2.to_csv("Departures_Data.csv", index=False)

In [16]:
ds_2.to_json("Departures_Data.json",orient='records')

In [17]:
ds_2.shape

(250, 60)

In [19]:
ds_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 249
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SACC code(a)               250 non-null    object
 1   Country of citizenship(a)  250 non-null    object
 2   2016-09-01 00:00:00        250 non-null    float64
 3   2016-10-01 00:00:00        250 non-null    float64
 4   2016-11-01 00:00:00        250 non-null    float64
 5   2016-12-01 00:00:00        250 non-null    float64
 6   2017-01-01 00:00:00        250 non-null    float64
 7   2017-02-01 00:00:00        250 non-null    float64
 8   2017-03-01 00:00:00        250 non-null    float64
 9   2017-04-01 00:00:00        250 non-null    float64
 10  2017-05-01 00:00:00        250 non-null    float64
 11  2017-06-01 00:00:00        250 non-null    float64
 12  2017-07-01 00:00:00        250 non-null    float64
 13  2017-08-01 00:00:00        250 non-null    float64
 14  2017-09-01 00:00:00        250 non-null    float64
 15  2017-10-01 00:00:00        250 non-null    float64
 16  2017-11-01 00:00:00        250 non-null    float64
 17  2017-12-01 00:00:00        250 non-null    float64
 18  2018-01-01 00:00:00        250 non-null    float64
 19  2018-02-01 00:00:00        250 non-null    float64
 20  2018-03-01 00:00:00        250 non-null    float64
 21  2018-04-01 00:00:00        250 non-null    float64
 22  2018-05-01 00:00:00        250 non-null    float64
 23  2018-06-01 00:00:00        250 non-null    float64
 24  2018-07-01 00:00:00        250 non-null    float64
 25  2018-08-01 00:00:00        250 non-null    float64
 26  2018-09-01 00:00:00        250 non-null    float64
 27  2018-10-01 00:00:00        250 non-null    float64
 28  2018-11-01 00:00:00        250 non-null    float64
 29  2018-12-01 00:00:00        250 non-null    float64
 30  2019-01-01 00:00:00        250 non-null    float64
 31  2019-02-01 00:00:00        250 non-null    float64
 32  2019-03-01 00:00:00        250 non-null    float64
 33  2019-04-01 00:00:00        250 non-null    float64
 34  2019-05-01 00:00:00        250 non-null    float64
 35  2019-06-01 00:00:00        250 non-null    float64
 36  2019-07-01 00:00:00        250 non-null    float64
 37  2019-08-01 00:00:00        250 non-null    float64
 38  2019-09-01 00:00:00        250 non-null    float64
 39  2019-10-01 00:00:00        250 non-null    float64
 40  2019-11-01 00:00:00        250 non-null    float64
 41  2019-12-01 00:00:00        250 non-null    float64
 42  2020-01-01 00:00:00        250 non-null    float64
 43  2020-02-01 00:00:00        250 non-null    float64
 44  2020-03-01 00:00:00        250 non-null    float64
 45  2020-04-01 00:00:00        250 non-null    float64
 46  2020-05-01 00:00:00        250 non-null    float64
 47  2020-06-01 00:00:00        250 non-null    float64
 48  2020-07-01 00:00:00        250 non-null    float64
 49  2020-08-01 00:00:00        250 non-null    float64
 50  2020-09-01 00:00:00        250 non-null    float64
 51  2020-10-01 00:00:00        250 non-null    float64
 52  2020-11-01 00:00:00        250 non-null    float64
 53  2020-12-01 00:00:00        250 non-null    float64
 54  2021-01-01 00:00:00        250 non-null    float64
 55  2021-02-01 00:00:00        250 non-null    float64
 56  2021-03-01 00:00:00        250 non-null    float64
 57  2021-04-01 00:00:00        250 non-null    float64
 58  2021-05-01 00:00:00        250 non-null    float64
 59  2021-06-01 00:00:00        250 non-null    float64
dtypes: float64(58), object(2)
memory usage: 129.1+ KB