In [16]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [17]:
ds_1=pd.read_excel('3401055004_OTSP_CountryofCitizenship_Jun21.xlsx', sheet_name='Table 1.1', header=[7])
ds_1

,SACC code(a),Country of citizenship(a),2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
0,1101,Australia,788680.0,907430.0,649150.0,647520.0,1049590.0,622860.0,605580.0,773900.0,...,8900.0,12280.0,15500,17820.0,14140.0,11510.0,14300.0,19590.0,44570.0,40490.0
1,1102,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1199,Australian External Territories nec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1201,New Zealand,166800.0,176580.0,144860.0,162290.0,174900.0,127510.0,150080.0,164100.0,...,1210.0,2460.0,3710,4950.0,4380.0,4060.0,5060.0,20300.0,52280.0,43780.0
4,1301,New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,(a) Country of citizenship classification and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Standard Australian Classification of Countrie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,"(b) To confidentialise, estimates have been ro...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Â© Commonwealth of Australia 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
ds_1=ds_1.drop(ds_1.index[[250,251,252,253,254,255,256,257,258]])
ds_1

,SACC code(a),Country of citizenship(a),2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
0,1101,Australia,788680.0,907430.0,649150.0,647520.0,1049590.0,622860.0,605580.0,773900.0,...,8900.0,12280.0,15500,17820.0,14140.0,11510.0,14300.0,19590.0,44570.0,40490.0
1,1102,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1199,Australian External Territories nec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1201,New Zealand,166800.0,176580.0,144860.0,162290.0,174900.0,127510.0,150080.0,164100.0,...,1210.0,2460.0,3710,4950.0,4380.0,4060.0,5060.0,20300.0,52280.0,43780.0
4,1301,New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,9228,Uganda,50.0,70.0,60.0,100.0,110.0,90.0,70.0,110.0,...,0.0,0.0,10,0.0,0.0,10.0,0.0,10.0,0.0,0.0
246,9231,Zambia,100.0,90.0,80.0,120.0,170.0,140.0,140.0,100.0,...,0.0,10.0,0,10.0,10.0,0.0,10.0,20.0,20.0,10.0
247,9232,Zimbabwe,490.0,470.0,470.0,810.0,790.0,610.0,470.0,640.0,...,10.0,10.0,40,50.0,20.0,60.0,50.0,40.0,50.0,40.0
248,9299,"S & E Afr, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,0,Inadequately Described,2280.0,3330.0,740.0,530.0,450.0,1010.0,1270.0,2560.0,...,250.0,370.0,120,190.0,150.0,310.0,860.0,600.0,670.0,1190.0

In [ ]:
profile = ProfileReport(ds_1,title="Pandas Profiling Report")
profile

In [ ]:
profile.to_file("C:\\Users\\Moditha\\Desktop\\your_report.html")

In [19]:
ds_1.to_csv("C:\\Users\\Moditha\\Desktop\\Arrivals_Data.csv", index=False)

In [20]:
ds_1.to_json("C:\\Users\\Moditha\\Desktop\\Arrivals_Data.json",orient='records')

In [21]:
#Colomns
print(len(ds_1))

250

In [22]:
#Rows
print(len(ds_1.columns))

60

In [23]:
ds_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 249
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SACC code(a)               250 non-null    object
 1   Country of citizenship(a)  250 non-null    object
 2   2016-09-01 00:00:00        250 non-null    float64
 3   2016-10-01 00:00:00        250 non-null    float64
 4   2016-11-01 00:00:00        250 non-null    float64
 5   2016-12-01 00:00:00        250 non-null    float64
 6   2017-01-01 00:00:00        250 non-null    float64
 7   2017-02-01 00:00:00        250 non-null    float64
 8   2017-03-01 00:00:00        250 non-null    float64
 9   2017-04-01 00:00:00        250 non-null    float64
 10  2017-05-01 00:00:00        250 non-null    float64
 11  2017-06-01 00:00:00        250 non-null    float64
 12  2017-07-01 00:00:00        250 non-null    float64
 13  2017-08-01 00:00:00        250 non-null    float64
 14  2017-09-01 00:00:00        250 non-null    float64
 15  2017-10-01 00:00:00        250 non-null    float64
 16  2017-11-01 00:00:00        250 non-null    float64
 17  2017-12-01 00:00:00        250 non-null    float64
 18  2018-01-01 00:00:00        250 non-null    float64
 19  2018-02-01 00:00:00        250 non-null    float64
 20  2018-03-01 00:00:00        250 non-null    float64
 21  2018-04-01 00:00:00        250 non-null    float64
 22  2018-05-01 00:00:00        250 non-null    float64
 23  2018-06-01 00:00:00        250 non-null    float64
 24  2018-07-01 00:00:00        250 non-null    float64
 25  2018-08-01 00:00:00        250 non-null    float64
 26  2018-09-01 00:00:00        250 non-null    float64
 27  2018-10-01 00:00:00        250 non-null    float64
 28  2018-11-01 00:00:00        250 non-null    float64
 29  2018-12-01 00:00:00        250 non-null    float64
 30  2019-01-01 00:00:00        250 non-null    float64
 31  2019-02-01 00:00:00        250 non-null    float64
 32  2019-03-01 00:00:00        250 non-null    float64
 33  2019-04-01 00:00:00        250 non-null    float64
 34  2019-05-01 00:00:00        250 non-null    float64
 35  2019-06-01 00:00:00        250 non-null    float64
 36  2019-07-01 00:00:00        250 non-null    float64
 37  2019-08-01 00:00:00        250 non-null    float64
 38  2019-09-01 00:00:00        250 non-null    float64
 39  2019-10-01 00:00:00        250 non-null    float64
 40  2019-11-01 00:00:00        250 non-null    float64
 41  2019-12-01 00:00:00        250 non-null    float64
 42  2020-01-01 00:00:00        250 non-null    float64
 43  2020-02-01 00:00:00        250 non-null    float64
 44  2020-03-01 00:00:00        250 non-null    float64
 45  2020-04-01 00:00:00        250 non-null    float64
 46  2020-05-01 00:00:00        250 non-null    float64
 47  2020-06-01 00:00:00        250 non-null    float64
 48  2020-07-01 00:00:00        250 non-null    float64
 49  2020-08-01 00:00:00        250 non-null    float64
 50  2020-09-01 00:00:00        250 non-null    float64
 51  2020-10-01 00:00:00        250 non-null    float64
 52  2020-11-01 00:00:00        250 non-null    object
 53  2020-12-01 00:00:00        250 non-null    float64
 54  2021-01-01 00:00:00        250 non-null    float64
 55  2021-02-01 00:00:00        250 non-null    float64
 56  2021-03-01 00:00:00        250 non-null    float64
 57  2021-04-01 00:00:00        250 non-null    float64
 58  2021-05-01 00:00:00        250 non-null    float64
 59  2021-06-01 00:00:00        250 non-null    float64
dtypes: float64(57), object(3)
memory usage: 127.2+ KB

In [ ]:
for col in ds_1.columns:
    print(col)

In [ ]:
for col in ds_1.columns:
    x = ds_1[col].dtype
    print(x)

In [ ]:
for col in ds_1.columns:
    x = ds_1[col].count()
    print(x)

In [ ]:
for col in ds_1[ds_1.columns.drop(labels=["SACC code(a)", "Country of citizenship(a)"])]:
    x = ds_1[col].min()
    print(x)

In [ ]:
for col in ds_1[ds_1.columns.drop(labels=["SACC code(a)", "Country of citizenship(a)"])]:
    x = ds_1[col].max()
    print(x)

In [ ]:
for col in ds_1[ds_1.columns]:
    x = ds_1[col].nunique()
    print(x)

In [ ]:
for col in ds_1[ds_1.columns]:
    x = ds_1[col].isnull().sum()
    print(x)