In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import datetime
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ds_2=pd.read_excel('3401055004_OTSP_CountryofCitizenship_Jun21.xlsx', sheet_name='Table 1.2', header=[7])
ds_2

,SACC code(a),Country of citizenship(a),2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
0,1101,Australia,866140.0,701180.0,655800.0,956990.0,732790.0,540330.0,665680.0,809460.0,...,11740.0,11860.0,10950.0,12090.0,12610.0,9270.0,9890.0,23990.0,41350.0,40140.0
1,1102,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1199,Australian External Territories nec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1201,New Zealand,155740.0,186450.0,150930.0,179880.0,164000.0,122510.0,143840.0,163170.0,...,3410.0,3330.0,3400.0,3990.0,3440.0,3220.0,3250.0,23900.0,48540.0,39670.0
4,1301,New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,(a) Country of citizenship classification and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Standard Australian Classification of Countrie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,"(b) To confidentialise, estimates have been ro...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,© Commonwealth of Australia 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ds_2=ds_2.drop(ds_2.index[[250,251,252,253,254,255,256,257]])
ds_2

,SACC code(a),Country of citizenship(a),2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
0,1101,Australia,866140.0,701180.0,655800.0,956990.0,732790.0,540330.0,665680.0,809460.0,...,11740.0,11860.0,10950.0,12090.0,12610.0,9270.0,9890.0,23990.0,41350.0,40140.0
1,1102,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1199,Australian External Territories nec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1201,New Zealand,155740.0,186450.0,150930.0,179880.0,164000.0,122510.0,143840.0,163170.0,...,3410.0,3330.0,3400.0,3990.0,3440.0,3220.0,3250.0,23900.0,48540.0,39670.0
4,1301,New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,9228,Uganda,80.0,70.0,70.0,150.0,70.0,30.0,50.0,60.0,...,0.0,10.0,10.0,20.0,0.0,10.0,0.0,10.0,10.0,0.0
246,9231,Zambia,110.0,80.0,110.0,160.0,110.0,100.0,110.0,80.0,...,20.0,10.0,20.0,20.0,0.0,10.0,0.0,0.0,0.0,0.0
247,9232,Zimbabwe,420.0,370.0,510.0,830.0,610.0,370.0,360.0,530.0,...,50.0,50.0,70.0,60.0,30.0,20.0,20.0,20.0,10.0,20.0
248,9299,"S & E Afr, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,0000,Inadequately Described,1340.0,4440.0,1750.0,650.0,240.0,470.0,1190.0,1440.0,...,270.0,1050.0,100.0,420.0,120.0,100.0,90.0,290.0,130.0,200.0

In [ ]:
profile = ProfileReport(ds_2,title="Pandas Profiling Report")
profile

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
profile.to_file("C:\\Users\\Moditha\\Desktop\\your_report.html")

In [ ]:
ds_2.to_csv("Departures_Data.csv", index=False)

In [ ]:
ds_2.to_json("Departures_Data.json",orient='records')

In [ ]:
ds_2.shape

In [ ]:
ds_2.info()

In [ ]:
for col in ds_2.columns:
    print(col)

In [ ]:
for col in ds_2.columns:
    x = ds_2[col].dtype
    print(x)

In [ ]:
for col in ds_2.columns:
    x = ds_2[col].count()
    print(x)

In [ ]:
for col in ds_2[ds_2.columns.drop(labels=["SACC code(a)", "Country of citizenship(a)"])]:
    x = ds_2[col].min()
    print(x)

In [ ]:
for col in ds_2[ds_2.columns.drop(labels=["SACC code(a)", "Country of citizenship(a)"])]:
    x = ds_2[col].max()
    print(x)

In [ ]:
for col in ds_2.columns:
    x = ds_2[col].nunique()
    print(x)

In [ ]:
for col in ds_2.columns:
    x = ds_2[col].isnull().sum()
    print(x)

In [ ]:
fig = px.scatter(ds_2, x=datetime.datetime(2016, 9, 1, 0, 0), y=datetime.datetime(2017, 1, 1, 0, 0))
fig.show()

In [ ]:
correlation_matrix_1=ds_2.corr(method ='spearman')
correlation_matrix_1

In [ ]:
correlation_matrix_2=ds_2.corr(method ='pearson')
correlation_matrix_2

In [ ]:
fig,ax=plt.subplots()
fig.set_size_inches(50,50)
sns.heatmap(correlation_matrix_1,center=0,annot=True,annot_kws={"size": 12})
sns.despine()

In [ ]:
sns.heatmap(ds_2.corr(),vmin=-1, vmax=1, center=0,cmap='coolwarm',annot=True)
plt.title('Correlation matrix of breast cancer data')
plt.show()