In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import datetime
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objs as go

In [2]:
ds_1=pd.read_excel('3401055004_OTSP_CountryofCitizenship_Jun21.xlsx', sheet_name='Table 1.1', header=[7])
ds_1

,SACC code(a),Country of citizenship(a),2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
0,1101,Australia,788680.0,907430.0,649150.0,647520.0,1049590.0,622860.0,605580.0,773900.0,...,8900.0,12280.0,15500,17820.0,14140.0,11510.0,14300.0,19590.0,44570.0,40490.0
1,1102,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1199,Australian External Territories nec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1201,New Zealand,166800.0,176580.0,144860.0,162290.0,174900.0,127510.0,150080.0,164100.0,...,1210.0,2460.0,3710,4950.0,4380.0,4060.0,5060.0,20300.0,52280.0,43780.0
4,1301,New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,(a) Country of citizenship classification and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Standard Australian Classification of Countrie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,"(b) To confidentialise, estimates have been ro...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,© Commonwealth of Australia 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ds_1=ds_1.drop(ds_1.index[[250,251,252,253,254,255,256,257,258]])
ds_1

,SACC code(a),Country of citizenship(a),2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
0,1101,Australia,788680.0,907430.0,649150.0,647520.0,1049590.0,622860.0,605580.0,773900.0,...,8900.0,12280.0,15500,17820.0,14140.0,11510.0,14300.0,19590.0,44570.0,40490.0
1,1102,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1199,Australian External Territories nec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1201,New Zealand,166800.0,176580.0,144860.0,162290.0,174900.0,127510.0,150080.0,164100.0,...,1210.0,2460.0,3710,4950.0,4380.0,4060.0,5060.0,20300.0,52280.0,43780.0
4,1301,New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,9228,Uganda,50.0,70.0,60.0,100.0,110.0,90.0,70.0,110.0,...,0.0,0.0,10,0.0,0.0,10.0,0.0,10.0,0.0,0.0
246,9231,Zambia,100.0,90.0,80.0,120.0,170.0,140.0,140.0,100.0,...,0.0,10.0,0,10.0,10.0,0.0,10.0,20.0,20.0,10.0
247,9232,Zimbabwe,490.0,470.0,470.0,810.0,790.0,610.0,470.0,640.0,...,10.0,10.0,40,50.0,20.0,60.0,50.0,40.0,50.0,40.0
248,9299,"S & E Afr, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,0,Inadequately Described,2280.0,3330.0,740.0,530.0,450.0,1010.0,1270.0,2560.0,...,250.0,370.0,120,190.0,150.0,310.0,860.0,600.0,670.0,1190.0

In [ ]:
profile = ProfileReport(ds_1,title="Pandas Profiling Report")
profile

In [ ]:
profile.to_file("C:\\Users\\Moditha\\Desktop\\your_report.html")

In [ ]:
ds_1.to_csv("C:\\Users\\Moditha\\Desktop\\Arrivals_Data.csv", index=False)

In [ ]:
ds_1.to_json("C:\\Users\\Moditha\\Desktop\\Arrivals_Data.json",orient='records')

In [ ]:
ds_1.shape

In [ ]:
ds_1.info()

In [ ]:
for col in ds_1.columns:
    print(col)

In [ ]:
for col in ds_1.columns:
    x = ds_1[col].dtype
    print(x)

In [ ]:
for col in ds_1.columns:
    x = ds_1[col].count()
    print(x)

In [ ]:
for col in ds_1[ds_1.columns.drop(labels=["SACC code(a)", "Country of citizenship(a)"])]:
    x = ds_1[col].min()
    print(x)

In [ ]:
for col in ds_1[ds_1.columns.drop(labels=["SACC code(a)", "Country of citizenship(a)"])]:
    x = ds_1[col].max()
    print(x)

In [ ]:
for col in ds_1[ds_1.columns]:
    x = ds_1[col].nunique()
    print(x)

In [ ]:
for col in ds_1[ds_1.columns]:
    x = ds_1[col].isnull().sum()
    print(x)

In [ ]:
fig = px.scatter(ds_1, x=datetime.datetime(2016, 9, 1, 0, 0), y=datetime.datetime(2017, 1, 1, 0, 0))
fig.show()

In [ ]:
fig = px.pie(ds_1, values='tip', names='day')
fig.show()

In [ ]:
correlation_matrix=ds_1.corr()
correlation_matrix

In [ ]:
# trace = go.Heatmap(z=correlation_matrix.values,
#                   x=correlation_matrix.index.values,
#                   y=correlation_matrix.columns.values)
# data=[trace]
# py.iplot(data, filename='basic-heatmap')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
fig,ax=plt.subplots()
fig.set_size_inches(50,50)
sns.heatmap(correlation_matrix,annot=True,annot_kws={"size": 11})
sns.despine()

In [ ]:
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go

pio.templates.default = "plotly_white"

go.Heatmap(
    z=correlation_matrix.values,
    x=correlation_matrix.index.values,
    y=correlation_matrix.columns.values,
   colorscale = px.colors.diverging.RdBu,
    zmin = -1,
   zmax = 1
)

In [ ]:
# import plotly.figure_factory as ff
# correlation_matrix=ds_1.corr()

# fig = ff.create_annotated_heatmap(correlation_matrix, colorscale='Greys')
# fig.show()

In [ ]:
# corr = ds_1.corr()
# fig = ff.create_annotated_heatmap(
#     z=correlation_matrix.values,
#     x=correlation_matrix.index.values,
#     y=correlation_matrix.columns.values,
#    colorscale = px.colors.diverging.RdBu,
#     zmin = -1,
#    zmax = 1
# )
# fig.update_xaxes(side = "bottom")

# fig.update_layout(
#    title_text = 'Heatmap',
#    title_x = 0.5,
#    width = 1000,
#    height = 1000,
#    xaxis_showgrid = False,
#    yaxis_showgrid = False,
#    xaxis_zeroline = False,
#    yaxis_zeroline = False,
#    yaxis_autorange = 'reversed',
#    template = 'plotly_white'
# )

# fig.show()

In [ ]:
import plotly.figure_factory as ff
import numpy as np

z= ds_1.corr()
z_text = np.around(z, decimals=2) # Only show rounded value (full value on hover)

fig = ff.create_annotated_heatmap(z, annotation_text=z_text, colorscale='Greys',
                                  hoverinfo='z')

# Make text size smaller
for i in range(len(fig.layout.annotations)):
    fig.layout.annotations[i].font.size = 8

fig.show()